@page "/"

@inject Data.TodoDbContext _todoContext
@inject AuthenticationStateProvider _authenticantionStateProvider

<PageTitle>Home</PageTitle>

<div>Indstast dit cpr nr.</div>
<input type="text" @bind="@_userInputCpr" style="width:160px;height:45px;" />
<br />
<input type="button" value="Submit" style="width:160px;height:45px;" @onclick="SubmitCpr" />

@code {
    private string? _userInputCpr;
    private string? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await _authenticantionStateProvider.GetAuthenticationStateAsync();
        _currentUser = authenticationState.User.Identity.Name;
    }

    private async Task SubmitCpr()
    {
        var cpr = new Data.Model.Cpr
        {
            CprNr = _userInputCpr,
            User = _currentUser
        };

        _todoContext.Cpr.Add(cpr);
        _todoContext.SaveChanges();

        _userInputCpr = "";
    }
}
